<h1> {{ chapitre.titre }} </h1>
<p> {{ chapitre.getTexte }}</p>
<h2>{{ chapitre.question }}</h2>

{% if chapitre.question is not null %}
    <h2>Choix : </h2>
    {% for fils in chapitre.getOrigines() %}
        <a href="{{ path('chapitre_show', {'id' : fils.getChapitreDestination.id}) }}">{{ fils.getReponse() }}</a>
    {% endfor %}

    {% else %}
    <h2>Fin</h2>
{% endif %}