{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}




<body>
<header>
    <img src="/images/logo.svg" alt="Logo Base 11/19" class="active" />
</header>
<div class="register">
    <h1 class="register__title">Bienvenue, veuillez vous inscrire.</h1>
    <form action="" method="POST">
        <div class="input-container">
            {{ form_start(form) }}
            <div>
                {{ form_widget(form.nom, { 'attr': { 'class' : "register__input input__name",'placeholder': "Nom"} }) }}
            </div>

            <div> {{ form_widget(form.photoFile, { 'attr': { 'placeholder': "Photo"} }) }}</div>


            <div>
                {{ form_widget(form.prenom, { 'attr': { 'class' : "register__input input__prenom",'placeholder': "Prénom"} }) }}
            </div>

            <div>
                {{ form_widget(form.email, { 'attr': { 'class' : "register__input input__mail",'placeholder': "Adresse Mail "} }) }}
            </div>


            <div>
                {{ form_widget(form.plainPassword) }}
            </div>




            <button class="register__button" type="submit">s'inscrire</button>

            {{ form_end(form) }}
        </div>

    </form>
</div>
</body>

{% endblock %}