{% extends 'base.html.twig' %}

{% block title %}Histoires edition{% endblock %}



{% block stylesheets  %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block body %}

    <h1>Edit Histoire</h1>
    {{ form_start(formModifHistoire) }}
    {{ form_widget(formModifHistoire) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(formModifHistoire) }}

    {{ include('histoire/delete.html.twig') }}

{% endblock %}