
{% extends 'base.html.twig' %}
{% block title %} Histoire {{ histoire.titre }} {% endblock %}
{% block body %}
    <body>
    <header>
        <a href="{{ path('home') }}"><img class="active" src="/images/logoBlack.svg" alt="Logo Base 11/19"></a>
    </header>
    <div class="histoire">
        <div class="histoire__grid">

            {% if histoire.photo is defined %}




                <div class="chapitre__illustration" style="background-image:url({{ base_url }}{{ histoire.photoWebPath }})" ></div>

            {% endif %}

            <div class="histoire__content">
                <p class="histoire__genre">Aventure</p>
                <h1 class="histoire__title"><a style="color: #B0413E" href="{{ path("histoire_show", {'id': histoire.id}) }}">{{ histoire.titre }}</a></h1>
                <p class="histoire__author">Cette histoire écrite par <span>
                    <strong>{{ histoire.user }}</strong></span> a été appréciée par <strong>{{ avisG|length }}</strong> personnes <br>
                    et non appréciée par <strong>{{ avisB|length }}</strong> personnes</p>
                <p class="histoire__txt">{{ histoire.pitch }}</p>
                <div class="histoire__btns">
                    <a href="{{ path("avis_positif_ajout", {'id': histoire.id }) }}" class="histoire_btn">J'AIME</a>
                    <a href="{{ path("avis_negatif_ajout", {'id': histoire.id }) }}" class="histoire_btn">J'AIME PAS</a>
                </div>
            </div>
        </div>
    </div>
    {% if  parent.id is not defined %}
        <a href="{{ path("chapitre_new",{'id':histoire.id}) }}">
            Ajouter le chapitre principal </a>
    {% endif %}
    <div class="histoire__bg">
        <div class="histoire">
            <h2 class="histoire__title">Retrouvez tous les chapitres<br> de cette histoire</h2>
            <div class="histoire__chapitres">
                {% if  parent.id is defined %}
                    <div id="pa.getOrigines.id" >

                        <h2><a style="color: #B0413E" href="{{ path("chapitre_show", {'id':parent.id}) }}">{{ parent.titre }}</a></h2>
                        <a style="color: #5eb5e0" href="{{ path("chapitre_new",{'id':histoire.id,'parent':parent.id}) }}"> Ajouter une suite </a>
                    </div>
                {% endif %}

                {% for chap in chapitres %}
                    <div id="pa.getOrigines.id" >
                        <h2>{{ chap.titre }}</h2>
                        <a style="color: #5eb5e0" href="{{ path("chapitre_new",{'id':histoire.id,'parent':chap.id}) }}"> Ajouter une suite </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <footer class="footer__flex">
        <div class="footer__links">
            <a href=""> Accueil</a>
            <a href=""> Histoires</a>
            <a href=""> Modifier informations</a>
            <a href=""> A propos</a>
        </div>
        <p>Airdrop 2019</p>
    </footer>
    </body>
{% endblock %}