Affichage d'une histoire

<h1>Histoire : {{ histoire.titre }}</h1>

{% if  parent.id is defined %}
    <h2>Chapitre PREMIER Titre : {{ parent.titre }} ID = {{ parent.id }} </h2>
    <a href="{{ path("chapitre_new",{'id':histoire.id,'parent':parent.id}) }}"> Ajouter une suite </a>


    {% for pa in parent.getOrigines() %}
        <div id="pa.getOrigines.id" >
            <h1>Les suites de {{ parent.titre }}: </h1>

            <h2>{{ pa.getChapitreDestination().titre }}</h2>
        </div>
    {% endfor %}

{% else %}
    <a href="{{ path("chapitre_new",{'id':histoire.id}) }}">
        Ajouter le chapitre principal </a>
{% endif %}



<script>


</script>

