
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>


        {% block stylesheets %}

        {% endblock %}
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

    </head>

    <header>
        <img class="active" src="/images/logoBlack.svg" alt="Logo Base 11/19">
        <div class="header__right">
            <a href="{{ path('visualisation') }}">Les histoires</a>
            <div class="header__profile">

                <a href="{{ path('dashboard') }}">  <img src="/images/man-user.png" alt="Photo de profile">
                    {{ app.user.nom }} </a>
            </div>
        </div>
    </header>
        {% block body %}
            <header>
            <img class="active" src="/images/logoBlack.svg" alt="Logo Base 11/19">
            <div class="header__right">
                <a href="{{ path('visualisation') }}">Les histoires</a>
                <div class="header__profile">
                    <img src="/images/man-user.png" alt="Photo de profile">
                    <a href="{{ path('dashboard') }}">
                        {{ app.user.nom }} </a>
                </div>
            </div>
            </header>{% endblock %}


        {% block javascripts %}


        {% endblock %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/loader.js"></script>


