
{% extends 'base.html.twig' %}


{% block title %}Les histoires{% endblock %}


{% block stylesheets %}


{% endblock %}


{% block body %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Histoires</title>
</head>

<body>
    <header>
        <img class="active"src="/images/logo.svg" alt="Logo Base 11/19">
    </header>
<div class="histoires">
    <h1 class="histoires__title">Découvrez nos histoires</h1>
    <p class="histoires__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur orci et massa feugiat, et tempus turpis pellentesque. Phasellus non ipsum vel lectus dapibus imperdiet. Quisque augue urna.</p>

    <div class="form-group">
        <button class="btn btn-primary">
            Rechercher
        </button>
        <input class="histoires__search" id="search" type='search' placeholder="recherche">
    </div>
    <div class="histoires__prefilter">
        <h2>Liste des histoires</h2><span></span>
        {{ form_start(formSearch) }}

        <button type="submit">Filtrer</button>
        {{ form_end(formSearch) }}
    </div>



    <div style="margin-top:20px">
        <div id="result-search"></div>
    </div>
    <div class="histoires__cards">
        {% for histoire in histoires %}
        <div class="histoires__card">
            {% if histoire.photo is defined %}
                <img class="histoires__card-img" src="{{ base_url }}{{ histoire.photoWebPath }}">
            {% endif %}
            <div class="histoires__card-content">
                <p class="histoires__card-p">Histoire</p>
                <span><a href="{{ path('histoire_show', {id: histoire.id}) }}" class="histoires__card-title"> {{ histoire.titre }}</a></span>
                <div class="histoires__card-infos">
                    <span class="histoires__card-author"><a href="{{ path('histoire_user' , {id : histoire.user.id |default('Default value') } ) }}" >{{ histoire.user }}</a></span>
                    <span class="histoires__card-genre"><a href="{{ path('histoire_genre', {id : histoire.genre.id | default('Default value') } ) }}" > {{ histoire.genre }} </a></span>
                 </div>
            </div>
        </div>

        {% endfor %}
    </div>



</div>


</body>

</html>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>

        $(document).ready(function() {
            $('#search').keyup(function () {
                let titre = $(this).val();

                console.log(titre);
               if(titre != "") {
                   $.ajax({
                        type: 'GET',
                        url: '',
                        data: 'titre=' + encodeURIComponent(titre),

                       success: function(data) {
                            if(data != "") {
                                $('#result->search').append(data);
                            }
                            else {
                                document.getElementById('result-search').innerHTML = "<div style='font-size:10px;text-align:center;margin-top:20px' > Aucune histoire </div>"
                            }
                       }
                   });
               }
            });

        });

    </script>
{% endblock %}
