
{% include 'navbar.html.twig' %}

{% block title %}Les histoires{% endblock %}


{% block stylesheets %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}


{% block body %}



<div class="jumbotron">
    <div class="container">
        {{ form_start(formSearch) }}
        <div class="form-row align-items-end">
            <div class="col">
                <div class="form-group">
                    <input class="form-control" type="text" id="search" value="" placeholder="Rechercher">
                </div>
            </div>
            <div class="col">
                {{ form_row(formSearch.genres) }}
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-primary">
                        Rechercher
                    </button>
                </div>
            </div>

        </div>
        {{ form_end(formSearch) }}
    </div>
</div>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

<div>
    {% if app.session.flashBag.has('success')  %}
        <div class="form-group col-md-6">
            {% for message in app.flashes('success') %}

                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor%}
        </div>
        <div class="form-group col-md-6"></div>
    {% endif %}
</div>



    <h1> Les histoires </h1>


    <div class="row flex">
        {% for histoire in histoires %}

            <div class="col-sm d-flex">


                <div class="card card-body flex-fill">
                    <small> Auteur : <a href="{{ path('histoire_user' , {id : histoire.user.id |default('Default value') } ) }}" >{{ histoire.user }} </a> </small>
                    <small> Genre :  <a href="{{ path('histoire_genre', {id : histoire.genre.id | default('Default value')}) }}" > {{ histoire.genre }} </a></small>

                    <small> ... personne(s) recommande cette histoire  </small>

                    <h2 class="card-title">
                        {{ histoire.titre }}
                    </h2>
                    <p class="card-text"> {{ histoire.pitch }} </p>
                    <p class="card-text"> <img src="https://bathboxoffice.org.uk/wp-content/uploads/2017/10/the-octet-logo-mall-2.jpg"></p>
                    <div class="text-primary" style="font-weight: bold;font-size:2rem"> {{ histoire.actif ? 'Actif' : 'Non actif' }}  </div>




                    {{ form_start(formAvis) }}
                    <small> Je recommande </small>

                    {{ form_row(formAvis.positif) }}

                    <div class="mt-4 text-center">
                        <button id="review_submit"  class="red_button message_submit_btn trans_300"  > Envoyer</button>
                    </div>
                    {{ form_end(formAvis) }}
                </div>

            </div>
        {% endfor %}
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>

        $(document).ready(function() {
            $('#search').keyup(function () {
                let words = $(this).val();

               if(words != "") {
                   $.ajax({
                        type: 'GET',
                        url: {{ path('') }},
                        data: 'histoire=' + encodeURIComponent(words),
                       success: function(data) {
                            if(data != "") {
                                $('#result->search').append(data);
                            }
                            else {
                                document.getElementById('result-search').innerHTML = "<div style='font-size:10px;text-align:center;margin-top:20px' > Aucune histoire </div>"
                            }
                       }
                   });
               }
            });

        });

    </script>
{% endblock %}
